#add-product-pop-up-container{
    position: absolute;
    top: 50%; /* Move down 50% of the viewport height */
            left: 50%; /* Move right 50% of the viewport width */
            transform: translate(-50%, -50%); /* Offset by half its own width and height */
    height: 520px;
    width: 800px;
    background: radial-gradient(circle at 0% 0%, #2e3353, #2540de, #121e63);
    /* border: solid #2235a2 3px; */
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#top{
    background-color: #f8dc2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    height: 3rem;
}

#title{
    color: black;   
    font-size: 1.2rem;
}

#close-button{
    all: unset;
    width: 0.7rem; 
    height: 0.7rem;
    background-image: url('../images/close-logo.svg'); 
    background-size: cover; 
    background-position: center; 
    cursor: pointer;
}

#add-product-form{
    margin: 0 1rem 0 1rem;
    color: rgb(92, 89, 89);
}

#add-product-form, 
#divider{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0.8rem;
}

#add-product-form .label,
#add-product-form #name-text-field,
#divider,
#product-image-field,
#image-upload,
#message,
#add_button{
    grid-column: 1/3;
    font-family: 'Poppins', sans-serif;

}

#image-upload{
    color:#f8dc2c;
}

#add-product-form .label{
    color: white;
}

#add-product-form #message{
    color: #f8dc2c;
    display: flex;
    justify-content: center;
    text-align: center;
}

#name-text-field,
#price-text-field,
#quantity-text-field{
    font-size: 0.9rem;
    height: 2.8rem;
    width: 100%;
    border-radius: 0.3rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 1rem;
}

#description-text-field{
    height: 100%; 
    width: 100%; 
    resize:none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 1rem;
}

#left, #right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#add_button{
    width: 50%;
    margin-top: 1rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    color: black;
    cursor: pointer;
    margin: 0 auto;
    background-color: #f8dc2c;
    font-weight: bold;
    border-radius: 25px;
}