* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.order-details {
  width: 60%;
  height: 80vh;
  /* border: 0.2rem solid #2235a2; */
  border-radius: 0.5rem;
  /* margin: 5% auto; */
  overflow-y: scroll;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-5000%, -50%);
  background-color: white;
  box-shadow: 
  rgba(34, 53, 162, 0.4) -5px 5px, 
  rgba(34, 53, 162, 0.3) -10px 10px, 
  rgba(34, 53, 162, 0.2) -15px 15px, 
  rgba(34, 53, 162, 0.1) -20px 20px, 
  rgba(34, 53, 162, 0.05) -25px 25px;
  z-index: 1000;

}

.order-details.active {
  transform: translate(-35%, -50%);
}

/* upper */
.upperCont {
  display: flex;
  color: rgb(34, 53, 162);
  font-size: 1rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: #ededeb;
  z-index: 10;
  border-radius: 0.5 0.5rem 0 0;
}

.upperCont .close-button {
  background-image: url("../images/close-logo.svg");
  background-size: cover;
  background-position: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
}

/* lower (grid) */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 1rem;
  gap: 1rem;
}

.cards-grid .customer-name {
  grid-column: 1 / -1;
  font-weight: bold;
  color: black;
}

.cards-grid .order-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(34, 53, 162);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 1rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
}

.order-card .product-image {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
