body{
    /* to make sidebar and content-container displayed in flex */
    /* DO NOT REMOVE */
    display: flex;
    position: relative;
}

#left-container{
    border: solid red 5px;

    /* 85% because sidebar in sidenav.css is 15% */
    width: 85%;
}

/* this is where your content should be placed */
#orders-content{
    border: solid green 5px;
}