body {
  /* to make sidebar and content-container displayed in flex */
  /* DO NOT REMOVE */
  display: flex;
  position: relative;
}

#left-container {
  /* 85% because sidebar in sidenav.css is 15% */
  width: 85%;
  background-color: #ededeb;
  padding-top: 10vh;
}

.top-container {
  padding: 1rem 0 0 1rem;
  border: 2px solid green;
}

.orders-container {
  padding: 0.5rem;
  gap: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto;
  height: auto;
  place-items: center;
}

.card {
  border: 1px solid black;
  width: 90%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 0.5rem;
}

.card .order-id {
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.8rem;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .view-button {
  width: 100%;
  background-image: linear-gradient(to right, #3a50cb, #15268b);
  color: white;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.card .served-button {
  width: 100%;
  background-image: linear-gradient(to right, #3a50cb, #15268b);
  color: white;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
}
