body {
  /* to make sidebar and content-container displayed in flex */
  /* DO NOT REMOVE */
  display: flex;
  position: relative;
  overflow-y: scroll;
}

#left-container {
  /* 85% because sidebar in sidenav.css is 15% */
  width: 85%;
  background-color: #ededeb;
  padding-top: 10vh;
}

#orders-content {
  height: 90vh;
  width: 100%;
}

.top-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  /* background-color: #f8dc2c; */
  background: linear-gradient(to right, #f8dc2c, #f8dc2c);

  color: black;
}

.top-container .search-container {
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-container .filter {
  width: 2rem;
  filter: invert(21%) sepia(100%) saturate(6000%) hue-rotate(200deg)
    brightness(55%) contrast(85%);
}

.search-container #order-search {
  background-image: url("../images/orders-icons/search-alt-1-svgrepo-com.svg");
  background-size: 1rem;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 0.2rem;
  padding-left: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  border: 2px solid #15268b;
}

.orders-container {
  padding: 0.5rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  min-height: 80%;
}

.card {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 0.5rem;
}

.card .order-id {
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.8rem;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.2rem;
}

.card .view-button {
  width: 100%;
  background-image: linear-gradient(to right, #2235a2, #4266ff);
  color: white;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 25px;
}

.card .view-button:hover {
  background-color: #1b2d85; 
  transform: scale(1.05);
}

.card .served-button {
  width: 100%;
  background-color: #ededeb;
  color: black;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid #2235a2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card .served-button:hover {
  background-color: #ededeb;
  transform: scale(1.05);
}


#orders-content .page-number {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Button styles for .page-number */
.page-number > button {
  background-image: linear-gradient(to right, #3a50cb, #15268b);
  color: white;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  margin-right: 1rem;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.page-number > button:hover {
  background-image: linear-gradient(to right, #15268b, #3a50cb); 
  transform: scale(1.05);
}

/* Styles for the page buttons in .pages-container */
.page-number .pages-container > button {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border: 1px solid #15268b;
  border-radius: 0.2rem;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.page-number .pages-container > button:hover {
  background-color: #3a50cb; 
  color: white; 
  transform: scale(1.1); 
}

/* Active button styles */
.page-number .pages-container .active {
  background-color: #f8dc2c;
  color: black;
  border: none;
}

.page-number .pages-container .active:hover {
  background-color: #e1c800; 
}

.pages-container .ellipsis {
  width: 2.5rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}
