body {
  /* to make sidebar and content-container displayed in flex */
  /* DO NOT REMOVE */
  display: flex;
  position: relative;
  overflow-y: scroll;
}

#left-container {
  /* 85% because sidebar in sidenav.css is 15% */
  width: 85%;
  position: relative;
}

/* this is where your content should be placed */
#products-content {
  padding: 1rem;
  /* DO NOT TOUCH THIS */
  margin-top: 10vh;
  max-height: 90vh;
  overflow-y: hidden;
}

#overview-container {
  height: 85vh;
  overflow-y: scroll;
  border: #2235a2 solid 2px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#top-title {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: #2235a2 2px solid;
  font-size: 0.9rem;
}

/* TEMPORARY */

#add-product-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: white;
  background-color: #2235a2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

#add-product-button:hover {
  background-color: #ededeb;
  color: #2235a2;
  border: 0.5px solid #2235a2;
  height: 36.8px;
}

#add-product-button:hover .add-button-icon {
  filter: invert(38%) sepia(96%) saturate(3241%) hue-rotate(190deg)
    brightness(60%) contrast(88%);
}

#add-product-button > img {
  height: 20px;
  width: 20px;
}

/* #add-product-button > h2{
    color: white;
    font-size: 1.2rem;
} */

/* Simple CSS for pop-up */
#left-container > #popup-success {
  /* ine edit yung display neto through javascript */
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0;
  transform: translateX(-20px);
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
}

/* CSS FOR TABLE */
table {
  width: 97%;
  height: auto;
  margin: 1rem auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#left-container button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}
