body{
    /* to make sidebar and content-container displayed in flex */
    /* DO NOT REMOVE */
    display: flex;
    position: relative;
}

#left-container{
    border: solid red 5px;

    /* 85% because sidebar in sidenav.css is 15% */
    width: 85%;
    position: relative;
}

/* this is where your content should be placed */
#products-content{
    /* border: solid green 5px; */
    padding: 1rem;
    /* DO NOT TOUCH THIS */
    margin-top: 10vh; 
}

#overview-container{
    border: blue solid 3px;
}

#top-title{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: rgb(235, 235, 235);
    padding: 0 2rem
}

#top-title > h1{
    color: #2235a2;
}

/* TEMPORARY */

#add-product-button{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #2235a2;
    padding: .5rem 1rem;
    border-radius: 5px;
}
#add-product-button > img{
    height: 20px;
    width: 20px;
}

#add-product-button > h2{
    color: white;
    font-size: 1.2rem;

}

/* Simple CSS for pop-up */
#left-container > #popup-success {
    /* ine edit yung display neto through javascript */
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 0;
    transform: translateX(-20px);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000; 
}


/* CSS FOR TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.edit-btn {
    background-color: #4CAF50;
    color: white;
}
.delete-btn {
    background-color: #f44336;
    color: white;
}