#left-container{
    /* 85% because sidebar in sidenav.css is 15% */
    width: 85%;

    /* moved the container down by 10vh since it is occupied by the topbar */
    margin-top: 10vh;
}

#schedules-container {
    border: solid 2px green;
    /* margin-top: 10vh; */
}