.sidebar {
  /* do not remove*/
  position: sticky;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: #fecb41;
  border-right: 1px solid black;
}

.profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20%;
  width: 100%;
  padding: 10% 5%;
  height: 10%;
  border-bottom: 1px solid white;
}

.profile img {
  width: 20%;
}

.form{
  height: 90%;
}

.buttons-container {
  padding-top: 2.7rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.default-button {
  background-color: transparent;
  border: none;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 18%;
}

.default-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(38%) sepia(96%) saturate(3241%) hue-rotate(233deg)
    brightness(0%) contrast(88%);
}

.active-button{
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 18%;

  background-color: #2235a2;
  border: 1px solid black;
  color: white;
  border-radius: 0 2rem 2rem 0;
}

.active-icon{
  width: 1.5rem;
  height: 1.5rem;
  filter: none;
}

.spacer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 10%;
}