/* Base reset for body and html */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* Main container */
.content-container {
  display: flex;
  gap: 1.25rem;
  height: 78vh;
  overflow: hidden;
  padding: 3rem 3rem;
}

/* Individual column containers */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-height: 78vh;
}

/* Completed Orders - 3 Columns */
.completed-orders-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.125rem 0.5rem;
  padding: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  height: 34vh;
}

.completed-orders-container .card-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  height: 36vh;
  overflow-y: auto;
}

.completed-orders-container .completed-orders-heading {
  position: sticky;
  height: 1.7rem;
  padding: 0.5rem;
  border-bottom: 1px solid #3a50cb;
  color: #15268b;
  width: 95%;
  background-color: transparent;
  size: 1.2rem;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 2%;
}

.complete-orders-card {
  display: grid;
  grid-template-columns: 1.8fr 1.5fr 1fr;
  align-items: center;
  padding: 0.75rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Reserved Products panel */
.reserved-products-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.125rem 0.5rem;
  padding: 1.3rem 1.25rem 1.25rem 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  overflow-y: auto;
  background-image: linear-gradient(45deg, #3a50cb, #15268b);
}

.reserved-products-container .reserved-products-heading {
  position: sticky;
  height: 1.7rem;
  padding: 0.4rem;
  border-bottom: 1px solid white;
  color: white;
  width: 95%;
  background-color: transparent;
  size: 1.2rem;
  font-weight: bold;
  /* padding-bottom: 3%; */
  /* padding-top: 3%; */
}

.reserved-products-container .order-cards-container {
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: none;
  gap: 1rem;
  width: 95%;
  height: 65vh;
  overflow-y: auto;
}

.order-cards-container .reserved-card-container {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
}

.order-cards-container span {
  width: 100%;
  text-align: left;
  margin-bottom: 4%;
}

.order-cards-container .price-and-quantity-container {
  width: 100%;
}

.order-cards-container .price-and-quantity-container .span-left {
  width: 50%;
  text-align: left;
}

.order-cards-container .price-and-quantity-container .span-right {
  width: 50%;
  text-align: right;
}

.reserved-products-container .order-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  height: 10%;
  padding: 1rem;
  background-color: transparent;
  margin-bottom: 0.625rem;
  justify-items: center;
}

.reserved-products-container .order-card-container .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 100%;
  color: black;
}

.product-card .reserved-product-image {
  width: 70%;
  height: auto;
  aspect-ratio: 1/1.25;
}

.reserved-products-container .order-card-container div .item-details {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.reserved-products-container .order-card-container div .item-price {
  font-size: 0.875rem;
  font-weight: bold;
}

.reserved-products-container .order-card-container div .item-quantity {
  font-size: 0.75rem;
  color: #666;
}

.reserved-products-container .order-card-container div div {
  display: flex;
  flex-direction: row;
}

.latest-orders-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.125rem 0.5rem;
  padding: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  height: 30vh;
}

.latest-orders-container .latest-cards-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
  height: 30vh;
  overflow-y: auto;
}

.latest-orders-container .latest-orders-container-heading {
  position: sticky;
  height: 1.7rem;
  padding: 0.5rem;
  border-bottom: 1px solid #3a50cb;
  color: #15268b;
  width: 95%;
  background-color: transparent;
  size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 1%;
}

.latest-orders-card {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 1.5fr 0.5fr;
  align-items: center;
  padding: 0.75rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.latest-orders-card .latest-orders-productsquantity {
  display: flex;
  flex-direction: column;
}
.latest-orders-card .latest-orders-div-status {
  display: flex;
  flex-direction: column;
}
.latest-orders-div-status .claimed {
  color: green;
}

.latest-orders-div-status .pending {
  color: red;
}
.latest-orders-container div img {
  box-shadow: none;
}

.latest-orders-container img {
  border-radius: 0.25rem;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.latest-orders-container .status {
  text-align: right;
  font-size: 0.875rem;
  color: #666;
  box-shadow: none;
}

/* Reserved Products Section */
.reserved-products-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reserved-product-image {
  width: 40px;
  height: 40px;
  border-radius: 0.25rem;
  object-fit: cover;
}

.reserved-products-container .order-cards-container .order-label {
  /* padding: 0.5rem; */
  size: 1.2rem;
  padding-left: 5%;
}

.order-card-container {
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.price-and-quantity-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

/* Empty state placeholder */
.empty-state {
  font-size: 0.875rem;
  color: #aaa;
  text-align: center;
  margin-top: 3.125rem;
}

/* Image styles for reserved products */
.reserved-products-container div img {
  height: 3.75rem;
  width: 3.75rem;
  margin-right: 0.625rem;
}

.reserved-products-container div {
  display: flex;

  align-items: center;
  padding: 0.625rem;
}

@media screen and (max-width: 600px) {
  body {
    max-height: 100vh;
    overflow-y: scroll;
  }

  .right-container {
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
    padding-top: 1rem;
    scroll-padding-bottom: 5vh;
  }

  .content-container {
    padding: 1rem;
    width: 90%;
    flex-direction: column-reverse;
    height: 90vh;
    overflow-y: scroll;
  }

  .content-container .reserved-products-container,
  .completed-orders-container,
  .latest-cards-container {
    height: 20vh;
    width: 100%;
    padding: 0;
  }

  .completed-orders-container .card-container {
    width: 100%;
  }

  .content-container .reserved-products-container {
    min-height: 45vh;
  }

  .content-container .container {
    max-height: 100vh;
  }

  .card-container {
    gap: 0;
    align-items: center;
  }

  .card-container .complete-orders-card {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid black;
    width: 85%;
  }

  .reserved-products-container {
    border-radius: 0.4rem;
  }

  .reserved-card-container .order-card-container .product-card {
    border-radius: 0.2rem;
  }

  .reserved-products-container .order-cards-container {
    width: 90%;
    overflow-x: hidden;
  }

  .reserved-products-container .reserved-products-heading {
    width: 90%;
  }

  .product-card > span:first-child {
    font-size: 0.8rem;
  }

  .product-card .span-left {
    font-size: 0.8rem;
  }
  .product-card .span-right {
    font-size: 0.8rem;
  }

  .container .completed-orders-container {
    border-radius: 0.2rem;
  }

  .container .latest-orders-container {
    border-radius: 0.2rem;
  }

  .container .latest-cards-container .latest-orders-card {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
  }

  .container .latest-cards-container {
    gap: 0;
  }
}
