:root {
  --gradient1: #3a50cb;
  --gradient2: #15268b;
  --yellow: #f8dc2c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.card-content-container{
  height: 88vh;
  padding: 3rem 4rem;
  overflow-y: scroll;
}

.inner-container{
  border: 1px solid black;
}

.inner-container .card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 1rem;
  height: 8vh;
  background-image: linear-gradient(to right, var(--gradient1), var(--gradient2));
}

.inner-container .card-header img{
  height: 40px;
  width: 40px;
}

.inner-container .inner-item-card-container{
  border-radius: 0.5rem;
  padding: 0 1rem;
  box-shadow: -0.2rem .2rem 1rem rgba(0, 0, 0, 0.422);
}

.inner-container .item-card-container{
  padding: 1.5rem 3rem;
}

/* ======== Item Card Header=========== */
.product-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  font-size: 0.8rem;
  padding: 1rem 1.3rem 1rem 1.3rem;
}

.product-title .column-headers{
  display: flex;
  align-items: center;
}

.product-title .column-headers h1:nth-child(2),
.product-title .column-headers h1:nth-child(3) {
  padding-left: 9.2rem;
}

/* ======== product container =========== */
.product-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 3rem;
  border-bottom: 1px solid gray;
}

.product-container .product-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* limits the length of the product name on each line */
.product-container .product-info-container p{
  width: 15rem;
}

.product-info-container .image-container{
  margin-right: 1rem;
  border: 1px solid black;
  padding: 0.8rem 1rem;
  background-color: #f4f4f4;
}

.product-info-container .image-container img{
  width: 10rem;
  height: 10rem;
  object-fit: fill;
}

.product-container .product-actions-container {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.5rem;
}

.product-actions-container .product-quantity, 
.product-actions-container .product-total,
.product-actions-container .product-price{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-quantity button {
  background-color: #2235a2;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 40px;
  text-align: center;
}

.input-box {
  height: 35px;
  width: 55px;
  text-align: center;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  border-top: 2px solid #2235a2;
  border-bottom: 2px solid #2235a2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ======== Item Card Footer =========== */
.item-card-footer {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 30%;
  margin-right: 2rem;
}

.item-card-footer .subtotal-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem 0;
}

.item-card-footer button {
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  background-color: #2235a2;
}

/* ======== Checkout Page Card =========== */
.checkout-card-container{
  height: 75vh;
  border: 2px solid red;
}

.checkout-card-container .card-header .back-button{
  width: 3rem;
  height: 3rem;
}

.checkout-details-container{
  display: flex;
  padding: 1rem 1rem;
  /* height: 67vh; */
  border:2px solid green ;
}

.left-details-container,
.right-details-container{
  width: 50%;
}

.left-details-container{
  font-size: 1.5rem;
  border-right:2px solid black ;
}

.left-details-container h1{
  font-size: 1.8rem;
}

/* ============== Left Container ============ */
.left-details-container .customer-details-container {
  margin-bottom: 1.5rem;
}

.left-details-container .orders-summary-container{
  margin-bottom: 1.5rem;
}

.pickup-container .pickup-dropdown{
  margin-top: 1rem;
  width: 90%;
  height: 4rem;
  font-size: 1rem;
}

