:root {
  --gradient1: #3a50cb;
  --gradient2: #15268b;
  --yellow: #f8dc2c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

/*===========Content==============*/

.right-container .content-container {
  height: 78vh;
  padding: 3rem 4rem;
  overflow-y: scroll;
}

.inner-container {
  border: 1px solid gray;
}

.inner-container .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(
    to right,
    var(--gradient1),
    var(--gradient2)
  );
  color: white;
}

.card-header .header-icon {
  width: 2.5rem;
}

.inner-container .all-booth-container {
  border: 2px solid gold;
  width: 100%;
  height: 100vh;
}

.inner-container .booth-container {
  padding: 1.5rem 3rem;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  /* border: 1px solid green; */
}

.booth-container .booth-name-container {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.booth-name-container .see-all-button {
  width: 5rem;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.booth-container .products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
}

.products-grid .item-card {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: flex-start;
}

#welcome-name,
.username {
  text-transform: capitalize;
}
.item-card .item-card-image-container {
  width: 100%;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  background-color: #f4f4f4;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card-image-container .item-image {
  width: 70%;
}

.item-card .item-name-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-name-container .item-name {
  font-weight: bold;
}

.item-card .view-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.view-button-container .view-button {
  width: 30%;
  height: 2rem;
  background-color: var(--gradient1);
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
  border: none;
}

.view-button-container .view-button:hover {
  background-color: var(--gradient2);
}

.booth-container .line-break {
  margin-top: 2rem;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 2rem 1rem;
}

.products-container {
  padding: 1.5rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.products-container .org-name-container {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.org-name-container .return-button {
  width: 2rem;
  height: 2rem;
  background-image: url("../resources/images/products/exit-button-black.png");
  background-size: cover;
  border: none;
  background-color: transparent;
}

.product-grid-container .item-card {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: flex-start;
}

.close-button {
  width: 2rem;
  height: 2rem;
  background-image: url("../resources/images/products/exit-button-white.png");
  background-size: cover;
  background-color: transparent;
  border: none;
}

.specific-product-container {
  display: flex;
  border: 1px solid #ddd;
  padding: 2rem;
  gap: 1rem;
}
.left-container-specific-product {
  width: 40%;
  display: flex;
  justify-content: center;
}

.left-container-specific-product img {
  width: 60%;
  height: auto;
}

.right-container-specific-product {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.right-container-specific-product p {
  color: #555;
}
.quantity-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}

.quantity-container span {
  margin-right: 10px;
  color: #333;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.quantity-controls button {
  background-color: var(--gradient1);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 40px; /* Ensure consistent height for buttons */
  text-align: center;
  transition: background-color 0.2s;
}

.quantity-controls button:hover {
  background-color: var(--gradient2);
}

.input-box {
  height: 1.3rem;
  width: 40px;
  text-align: center;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  border-top: 2px solid var(--gradient1);
  border-bottom: 2px solid var(--gradient1);
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .input-box[type="number"] {
  -moz-appearance: textfield;
} */

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttons-container button {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: var(--gradient1);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 15rem;
}

.buttons-container button:hover {
  background-color: var(--gradient2);
}

hr {
  margin-top: 15px;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.price-container {
  margin-top: 20px;
}

.price-container h3 {
  font-size: 18px;
  font-weight: bold;
}
.price-container hr {
  border: none;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

/* ======== Checkout Page Card =========== */
.checkout-card-container {
  height: 75vh;
}

.checkout-card-container .card-header .back-button {
  width: 3rem;
  height: 3rem;
  /* background-color: transparent; */
  background-image: url("../resources/images/products/exit-button-white.png");
  background-size: cover;
  border: none;
  background-color: transparent;
}

.checkout-details-container {
  display: flex;
  padding: 1rem 0;
}

.left-details-container,
.right-details-container {
  padding: 2rem 2rem 0 2rem;
  width: 50%;
}

.left-details-container {
  font-size: 1.2rem;
  border-right: 2px solid black;
}

.left-details-container h1 {
  font-size: 1.4rem;
}

/* ============== Left Container ============ */
.left-details-container .customer-details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.customer-details-container .username-container h1 {
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}

.left-details-container .orders-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.pickup-container .pickup-dropdown {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

/* ============== right Container ============ */
.right-details-container .checkout-scrollable {
  height: 43vh;
  overflow-y: scroll;
  box-shadow: -0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.422);
}

.checkout-product-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 20vh;
  padding: 0 2rem;
}

.checkout-product-container .details-container {
  display: flex;
  align-items: center;
}

.checkout-product-container .image-container {
  margin-right: 1rem;
  border: 1px solid black;
  padding: 0.8rem 1rem;
  background-color: #f4f4f4;
}

.checkout-product-container .image-container img {
  width: 5rem;
  height: 5rem;
  object-fit: fill;
}

.complete-order-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.complete-order-container .total-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
}

.complete-order-container button {
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border-radius: 0.25rem;
  background-color: #2235a2;
}

@media screen and (max-width: 1100px) {
  .view-button-container .view-button {
    width: 50%;
  }

  .item-card .item-card-image-container {
    width: 90%;
  }

  .booth-container .products-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .card-header h2 {
    font-size: 1rem;
  }

  .right-container .content-container {
    padding: 1rem;
  }

  .inner-container .checkout-card-container {
    height: auto;
  }

  .inner-container .booth-container {
    padding: 1rem;
  }

  .inner-container .booth-container {
    padding: 1rem;
  }

  .booth-container .booth-name-container {
    padding: 0.5rem 1rem;
  }

  .inner-container .card-header h1 {
    font-size: 1rem;
  }

  .item-card .item-card-image-container {
    width: 100%;
    height: 20vh;
  }

  .view-button-container .view-button {
    width: 50%;
  }

  .product-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .products-container {
    padding: 1rem;
  }

  .specific-product-container {
    padding: 1rem;
    flex-direction: column;
  }

  .left-container-specific-product img {
    width: 10 0%;
  }

  .left-details-container h1 {
    font-size: 1rem;
  }

  .pickup-container .pickup-dropdown {
    height: 3rem;
  }

  .right-container-specific-product {
    width: 100%;
  }

  .right-details-container .checkout-scrollable {
    box-shadow: none;
  }

  .products-container .org-name-container {
    padding: 1rem;
  }

  .checkout-details-container {
    flex-direction: column;
  }

  .left-details-container,
  .right-details-container {
    width: 100%;
    padding: 0.5rem;
  }

  .left-details-container .orders-summary-container {
    width: 90%;
  }

  .pickup-container .pickup-dropdown {
    width: 95%;
  }

  .right-details-container .checkout-scrollable {
    width: 95%;
  }

  .complete-order-container {
    font-size: 1rem;
  }

  .complete-order-container .total-section {
    width: 95%;
  }

  .complete-order-container button {
    width: 95%;
  }
}
